<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283186002911-i8h2hagbat42h077b088eegh6m3ehoj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283186002911-i8h2hagbat42h077b088eegh6m3ehoj8</string>
	<key>API_KEY</key>
	<string>AIzaSyCnBBdIh-QXl_TQWAL3NPa8epR5arqX0YE</string>
	<key>GCM_SENDER_ID</key>
	<string>283186002911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devistanbul.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-35d72</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-35d72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283186002911:ios:b2be50b4acbd098c03e26a</string>
</dict>
</plist>